<section>
  <img src="<%= book.image_url %>">
  <h2><%= book.title %></h2>
  <h3><%= book.author %></h3>
  <div id="textBox">
  <p><%= book.description %></p>
  </div>
  <p>ISBN: <%= book.isbn %></p>
</section>

