<fieldset>
  <input type="url" name="image_url" value="<%= book.image_url" %>">
  <input type="text" name="title" value="<%= book.title" %>">
  <input type="text" name="author" value="<%= book.author" %>">
  <textarea name="description" rows="6"><%= book.description %></textarea>
  <input type="text" name="isbn" value="<%= book.isbn" %>">
</fieldset>
<button type="submit">Save Book Details</button>