<!-- Post updated details through the /edit/:id route -->
<form id="updateForm" action="/edit/<%=book.id%>?_method=PUT" method="post">
<fieldset>
  <input type="url" class="edit" name="image_url" value="<%= book.image_url %>">
  <input type="text" class="edit" name="title" value="<%= book.title %>">
  <input type="text" class="edit" name="author" value="<%= book.author %>">
  <textarea class="editDes" name="description" rows="6"><%= book.description %></textarea>
  <input type="text" class="edit" name="isbn" value="<%= book.isbn %>">
</fieldset>
<button id="saveButton" type="submit">Save Book Details</button>
</form>
