<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Book Application</title>
  </head>
  <body>
    <header><a href="/">Best Books!</a></header>
    <main>
      <section><%= savedBooks.length %> Saved Books</section>
      <% savedBooks.forEach(book => { %>
        <section>
          <img src="<%= book.img %>">
          <h2><%= book.title %></h2>
          <h3><%= book.author %></h3>
          <p><%= book.description %></p>
        </section>
        <% }) %>
      <a href="/searches/new"><button>Search</button></a>
    </main>
  </body>
</html>