<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <main>
      <section><%= savedBooks.length %> Saved Books</section>
      <% savedBooks.forEach(book => { %>
        <section>
         <%- include('books/detail', {book: book}) %>
        <a class="homepage" href="/books/<%= book.id %>">View details</a>
        </section>
      <% }) %>
    </main>
  </body>
</html>